# Operadores Aritméticos

### 1. ¿Cuáles son los operadores aritméticos?

A continuación se presentan los operadores aritméticos soportados por Python 3

<table>
<thead>
<tr>
<th>Operator</th>
<th>Example</th>
<th>Meaning</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>+</code>&nbsp;(unario)</td>
<td><code>+a</code></td>
<td><strong>Unario Positivo</strong></td>
</tr>
<tr>
<td><code>+</code>&nbsp;(binario)</td>
<td><code>a + b</code></td>
<td><strong>Suma</strong></td>
</tr>
<tr>
<td><code>-</code>&nbsp;(unario)</td>
<td><code>-a</code></td>
<td><strong>Unario Negativo</strong></td>
</tr>
<tr>
<td><code>-</code>&nbsp;(binario)</td>
<td><code>a - b</code></td>
<td><strong>Resta</strong></td>
</tr>
<tr>
<td><code>*</code></td>
<td><code>a * b</code></td>
<td><strong>Multiplicación</strong></td>
</tr>
<tr>
<td><code>/</code></td>
<td><code>a / b</code></td>
<td><strong>División</strong></td>
</tr>
<tr>
<td><code>%</code></td>
<td><code>a % b</code></td>
<td><strong>Módulo</strong></td>
</tr>
<tr>
<td><code>//</code></td>
<td><code>a // b</code></td>
<td><strong>División de enteros</strong> (también denominado <strong>Floor Division</strong>)</td>
</tr>
<tr>
<td><code>**</code></td>
<td><code>a ** b</code></td>
<td><strong>Exponencial</strong></td>
</tr>
</tbody>
</table>

### 2. Operadores Unarios

Los operadores unarios se caracterizan porque se aplican sobre un único operando. En Python se soportan el operador **Unario Positivo** y **Unario Negativo**. Este tipo de operadores se aplican sobre tipos numéricos en Python.

In [4]:
num=10

In [7]:
#unario positivo
+num

10

In [9]:
#unario negativo
-num

-10

In [10]:
texto = "Hola mundo"

In [11]:
-texto

TypeError: bad operand type for unary -: 'str'

### 3. Suma y Resta

Los operadores **Suma** y **Resta** son operadores binarios que pueden aplicarse sobre distintos tipos de datos.

#### 3.1. Tipos de datos Numéricos

In [14]:
num1 = 10
num2 = 5

In [15]:
num1 + num2

15

In [16]:
num1 - num2

5

In [20]:
num2 - num1

-5

In [21]:
num3 = num2-num1

In [22]:
num3

-5

In [24]:
num3 = 1.5
num4 = 0.5

In [25]:
num5 = num3 - num4
type(num5)

float

#### 3.2. Strings

In [26]:
text1 = "hola"
text2= "mundo"

In [27]:
text1+text2

'holamundo'

In [28]:
text1 + " "+text2

'hola mundo'

In [32]:
text3 = text1 + " "+text2
text3

'hola mundo'

In [33]:
text1 - text2

TypeError: unsupported operand type(s) for -: 'str' and 'str'

### 4. Multiplicación y División

Los operadores **Multiplicación** y **División** son operadores binarios que pueden aplicarse sobre distintos tipos de datos.

#### 4.1. Tipos de datos numéricos

In [34]:
num1 = 10
num2 = 5

In [35]:
num1*num2

50

In [45]:
# importante el resultado de la division simepre es un float
int(num1 / num2)

TypeError: 'int' object is not callable

#### 4.2. Strings

In [46]:
text1 ="hola"
text2 = "mundo"

In [48]:
text1 * text2

TypeError: can't multiply sequence by non-int of type 'str'

In [50]:
#concat el texto la cantidad de veces del numero
text1*3

'holaholahola'

In [51]:
text1*3.5

TypeError: can't multiply sequence by non-int of type 'float'

In [53]:
text1/ text2

TypeError: unsupported operand type(s) for /: 'str' and 'str'

### 5. Módulo

El operador **Módulo** es un operador binario que devuelve el resto de una división entre tipos de datos numéricos.

In [54]:
num1 = 10
num2= 7

In [55]:
num1/num2

1.4285714285714286

In [56]:
num1 % num2

3

In [57]:
num1 = 10.5
num2 = 7.2

In [58]:
num1 % num2

3.3

### 6. Exponencial

El operador **Exponencial** es un operador binario que se aplica sobre tipos de datos numéricos.

In [59]:
num1 = 10

In [61]:
num1 ** 4

10000

In [62]:
text1 = "hola"

In [64]:
text1 **2

TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'int'

### 7. Floor Division

El operador **Floor Division** es un operador binario que se aplica sobre tipos de datos numéricos y devuelve la parte entera del resultado.

In [65]:
num1 = 10
num2 = 7

In [66]:
num1 / num2

1.4285714285714286

In [67]:
num1 // num2

1

In [68]:
num1 = 13
num2 = 7

In [70]:
num1 / num2

1.8571428571428572

In [71]:
num1 // num2

1